<div class="post-preview"  data-hook="post-preview">

  <div class="post-title"  data-hook="post-title">
    <h3><%= link_to h(post.title), post_seo_path(@blog, post) %></h3>
    <span class="published_at"><%= I18n.l(post.posted_at) %></span>
    | Kommentare:
    <%= link_to post.title, full_post_path(@blog, post, anchor: 'disqus_thread') %>
  </div>

  <% if post.has_images? %>
    <p class="post-images"><%= link_to image_tag(post.images.first.attachment.url, :alt => post.title), post_seo_path(@blog, post) %></p>
  <% end %>

  <%= post.rendered_preview %>
  
  <br class="clear" />
  
  <p><%= link_to t('.read_more'), post_seo_path(@blog, post) %></p>
  
  <%= render partial: "spree/blogs/shared/disqus_counts", locals: { post: post } %>

</div>
