<% content_for :page_title do %>
  <%== t(".editing_post") + " &ldquo;#{@post.title}&rdquo;".html_safe %>
<% end %>

<%= render :partial => 'spree/admin/shared/contents_sub_menu' %>

<% content_for :sidebar_title do %>
  <%= @post.title %> &dash; <span class='sku'><%= l (@post.posted_at.to_date || Date.today), :format => :short %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul class="sidebar post-menu">
      <li<%= ' class="active"'.html_safe if current == "Post Details" %>>
        <%= link_to t(".post_details"), edit_admin_post_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Images" %>>
        <%= link_to t("images"), admin_post_images_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Related Products" %>>
        <%= link_to t(".related_products"), admin_post_products_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Categories" %>>
        <%= link_to t(".post_categories"), admin_post_categories_url(@post) %>
      </li>
    </ul>
  </nav>
<% end %>
