<% content_for :sidebar do %>
  <%= render :partial => 'spree/blogs/shared/sidebar' %>
<% end %>

<div class="post" data-hook="post-show">
  
  <div class="post-title" data-hook="post-show-title">
    <h1><%=h @post.title %></h1>
    <span class="published_at"><%= I18n.l(@post.posted_at) %></span>
    | Kommentare:
    <%= link_to @post.title, full_post_path(@blog, @post, anchor: 'disqus_thread') %>
  </div>
  
  <% if @post.has_images? %>     
    <div class="post-images" data-hook="post-show-image">
      <% @post.images.each_with_index do |image, index| %>
   	    <p><%= image_tag(image.attachment.url(:large), :alt => image.has_alt? ? image.alt : "#{@post.title} - Photo #{index + 1}") %></p>
 	    <% end %>
    </div>
  <% end %>   
    
  <%= @post.rendered_body %>  
  
  <br class="clear"/>

  <%- unless @post.tags.empty?%>
    <div class="post-tags" data-hook="post-show-tags">
      <h6><%= t('.tagged') %></h6>
      <p><%= @post.tags.collect{|tag| link_to(tag.name, search_posts_path(@blog, tag.name)) }.join(", ").html_safe %></p>
    </div>
  <% end %>

  <% unless @post.products.empty? %>
    <div class="post-products" data-hook="post-show-related-products">
      <%= render 'spree/shared/products', :products => @post.products %>
    </div>
  <% end %>

  <%= render partial: "spree/blogs/shared/disqus_comments" %>
  <%= render partial: "spree/blogs/shared/disqus_counts", locals: { post: @post } %>

</div>
